@model DetailsCommentModelView 

@{
    ViewBag.Title = $"Comment - {Model.CommentId}";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
   <div class="card col-4" style="width: 20rem; ">
       <div class="card-body">
            <input type="hidden" asp-for="@Model.CommentId" />
          <h5 class="card-title mt-1">Comment ID: @Model.CommentId</h5>
          <p class="mb-0">Comment Title: @Model.CommentTitle</p>
          <p class="mb-0">Comment Description: @Model.CommentDescription</p>
          <p class="mb-0">Search User Id: @Model.SearchUserId</p>
          <p class="mb-0">GuestUser Id: @Model.GuestUserId</p>
          <p class="mb-0">Answer Id: @Model.AnswerId</p>
       </div>
    </div>
</div>

