@model AddMessageModelView 

@{
    ViewBag.Title = "Add your new Message";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="@Model.MessageDescription" class="form-label">Message Description</label>
                <input asp-for="@Model.MessageDescription" class="form-control" aria-required="true" />
                <span asp-validation-for="MessageDescription" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.SearchUserId" class="form-label">Search User Id </label>
                <input asp-for="@Model.SearchUserId" class="form-control" aria-required="true" />
                <span asp-validation-for="QuestionId" class="text-danger"></span>
                <label asp-for="@Model.ProvideUserId" class="form-label">ProvideUser Id </label>
                <input asp-for="@Model.ProvideUserId" class="form-control" aria-required="true" />
                <span asp-validation-for="ProvideUserId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add Message" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}