@model DetailsMessageModelView 

@{
    ViewBag.Title = $"Message - {Model.MessageId}";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
   <div class="card col-4" style="width: 20rem; ">
       <div class="card-body">
            <input type="hidden" asp-for="@Model.MessageId" />
          <h5 class="card-title mt-1">Message ID: @Model.MessageId</h5>
          <p class="mb-0">Message Description: @Model.MessageDescription</p>
          <p class="mb-0">Provide User ID: @Model.ProvideUserId</p>
          <p class="mb-0">Search User ID: @Model.SearchUserId</p>
       </div>
    </div>
</div>

